[submodule "CVE-2020-8004/stm32f1-firmware-extractor"]
	path = CVE-2020-8004/stm32f1-firmware-extractor
	url = https://gitlab.zapb.de/zapb/stm32f1-firmware-extractor.git
[submodule "CVE-2020-13466/f103-analysis"]
	path = CVE-2020-13466/f103-analysis
	url = https://github.com/JohannesObermaier/f103-analysis.git
